/*-----------------------------
    ADMIN
-----------------------------*/

.orders {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}
.orders-title {
  margin-bottom: 50px;
  letter-spacing: 6px;
}
.order {
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  width: 700px;
  justify-content: space-between;
  margin-bottom: 50px;
}
.ordered-dish {
  margin-bottom: 10px;
}
.btn-order-delete {
  padding: 5px;
  border: 2px solid $color-btn-border;
  background-color: $color-background;
  border-radius: 10px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.25);
  letter-spacing: 3px;
  font-size: $font-size-btn;
}

.btn-order-delete:hover {
  background-color: black;
  color: $color-background;
  cursor: pointer;
}

.order-total {
  font-size: 16px;
}

.edit-menu {
  margin-bottom: 100px;
}
