/*-----------------------------
    CONTACT
-----------------------------*/

.contact {
  width: 60%;
  margin: auto;
  padding: 100px 0 100px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
