/*-----------------------------
    MEDIAQUERIES
-----------------------------*/
.navigation {
  max-width: 1300px;
  margin: auto;
}

@media only screen and (max-width: 1800px) {
  //-------------- GENERAL --------------
  .landing-page {
    background-position: center 20%;
  }
  //-------------- MENU -------------
  .dishes {
    width: 90%;
    max-width: 900px;
  }
  .menu-container {
    .menu-title {
      margin-bottom: 20px;
    }
  }
  .dish-title {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 1400px) {
  //-------------- GENERAL --------------
  .landing-page {
    background-position: center 40%;
    background-size: 80% auto;
  }
}

@media only screen and (max-width: 1200px) {
  //-------------- GENERAL --------------
  .landing-page {
    background-size: 95% auto;
  }
  //-------------- CONTACT -----------
  .contact {
    width: 90%;
    flex-direction: column;
    align-items: center;
    padding: 70px 0 50px 0;
  }
  .contact-title {
    margin-bottom: 45px;
  }
  .information-container {
    margin-bottom: 30px;
  }
  .map-container {
    width: 90%;
  }

  //-------------- FOOTER -----------
  .m-footer {
    margin: 0;
  }
}

@media only screen and (max-width: 825px) {
  //-------------- GENERAL --------------
  .landing-page {
    background-image: url("../images/cartoon-background10.svg");
    background-position: center 80%;
    background-size: 85% auto;
  }

  //-------------- NAVIGATION --------------
  .navigation {
    flex-direction: column;
    height: 30vh;
    min-height: 180px;

    .btn-nav {
      display: none;
    }

    .company-logo img {
      height: 100px;
    }

    .nav-links {
      width: 100%;
    }
  }
  //-------------- HERO --------------
  .hero {
    height: 70vh;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .hero-block {
      margin: 0;
    }
  }
  //-------------- MENU -------------
  .dishes {
    flex-direction: column;
    align-items: center;
    width: 80%;
  }
  .menu-container {
    .menu-title {
      margin-bottom: 20px;
    }
  }
  .dish-title {
    margin-top: 30px;
  }

  //-------------- FOOTER ------------
  .m-footer {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  //-------------- GENERAL -----------
  .landing-page {
    background-image: none;
  }

  //-------------- HERO --------------
  .hero {
    min-height: 500px;
  }
  .m-pizza-slice {
    display: block;
    margin-top: -80px;
    img {
      width: 270px;
    }
  }
}
