/*-----------------------------
    NAVIGATION
-----------------------------*/
.head {
  background-color: $color-background;
}

.navigation {
  width: 100%;
  height: 15vh;
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  letter-spacing: 3px;

  .company-logo img {
    height: 90px;
  }

  .nav-links {
    display: flex;
    width: 500px;
    justify-content: space-around;
    font-size: $font-size-nav-links;
  }
  .nav-link {
    position: relative;
  }
  .nav-link::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: black;
    transition: 0.3s ease-out;
  }
  .nav-link:hover::after {
    left: 0;
    width: 100%;
  }
}

.navigation-order {
  background-color: $color-background;
}
