$font-family-main: "Bangers", cursive;
$font-size-nav-links: 20px;
$font-size-btn: 16px;
$font-size-hero-title: 36px;

$color-background: #f3ebde;
$color-main: rgb(54, 68, 75);
$color-special: rgb(42, 195, 200);
$color-btn-border: rgb(0, 0, 0);

@import "./general";
@import "./navigation";
@import "./hero";
@import "./menu";
@import "./contact";
@import "./footer";
@import "./order";
@import "./mediaqueries";
@import "./admin";
